@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* :root{
  --red: red;
} */

/* Apply quicksand font globally */
@layer base {
  html {
    @apply font-quicksand;
  } 
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}